<a href="https://colab.research.google.com/github/christopherhuntley/DATA6510/blob/master/HW4_IMDB_Refresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/christopherhuntley/BUAN6510/blob/master/img/Dolan.png?raw=true" width="180px" align="right">

# **DATA 6510**
# **Homework 4: IMDB Refresh** 
_Fun with Movie Listings._

**What follows provides a direct download of the IMDB_Mirror.db database needed to complete HW4.**

**Complete this version of the assignment and submit your answers in Google Classroom.**

## **1. Explore the data source.** 

**As you are exploring draw an ERD to represent the design of the database.** (No, there is not need to submit it. You can even use crayon if you like. We'll figure out if it's right below.)

**It may help to refer to this ...**

```sql
DROP TABLE IF EXISTS names;
CREATE TABLE names (
    nconst TEXT PRIMARY KEY,
    primaryName TEXT DEFAULT 'No Name Given',
    birthYear TEXT,
    deathYear TEXT,
    primaryProfession TEXT,
    knownForTitles TEXT
);
DROP TABLE IF EXISTS titles;
CREATE TABLE titles (
    tconst TEXT PRIMARY KEY,
    titleType TEXT NOT NULL,
    primaryTitle TEXT DEFAULT 'Untitled',
    originalTitle TEXT DEFAULT 'Untitled', 
    isAdult INTEGER,
    startYear TEXT NOT NULL,
    endYear TEXT, 
    runtimeMinutes INTEGER DEFAULT 0,
    genres TEXT
);
DROP TABLE IF EXISTS principals;
CREATE TABLE principals (
    principalID INTEGER PRIMARY KEY,
    tconst TEXT NOT NULL,
    nconst TEXT NOT NULL,
    ordering INTEGER,
    category TEXT,
    job TEXT,
    characters TEXT,
    FOREIGN KEY (nconst) REFERENCES names (nconst),
    FOREIGN KEY (tconst) REFERENCES titles (tconst)
);
```

### **2. Refresh Database and Test database connection**

Run the cells below before moving on to part 3.

In [1]:
# lock down the package versions due to SQLAlchemy 2.0 compatibility bug
!pip install SQLAlchemy==1.4.46
!pip install PyMySQL==1.0.2 # or whichever
!pip install ipython-sql==0.4.1

!pip3 install --upgrade gdown
!gdown https://drive.google.com/uc?id=1MPTKr9xQJc00zyyhT9kbKJ2vXD2vwPx4
#!gdown -O IMDB_Mirror.db https://drive.google.com/file/d/1MPTKr9xQJc00zyyhT9kbKJ2vXD2vwPx4

%load_ext sql
%sql sqlite:///IMDB_Mirror.db

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy==1.4.46 in /usr/local/lib/python3.8/dist-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from SQLAlchemy==1.4.46) (2.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyMySQL==1.0.2 in /usr/local/lib/python3.8/dist-packages (1.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.8/dist-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (7.9.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (0.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (1.15.0)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (1.4.46)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.0.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.18.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.6.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)
Downloading...
From: https://drive.google.com/uc?id=1MPTKr9xQJc00zyyhT9kbKJ2vXD2vwPx4
To: /content/IMDB_Mirror.db
100% 441M/441M [00:02<00:00, 185MB/s]

In [2]:
%%sql
SELECT *
FROM sqlite_Master

 * sqlite:///IMDB_Mirror.db
Done.

[('table', 'names', 'names', 2, "CREATE TABLE names (\n    nconst TEXT PRIMARY KEY,\n    primaryName TEXT DEFAULT 'No Name Given',\n    birthYear TEXT,\n    deathYear TEXT,\n    primaryProfession TEXT,\n    knownForTitles TEXT\n)"),
 ('index', 'sqlite_autoindex_names_1', 'names', 3, None),
 ('table', 'titles', 'titles', 4, "CREATE TABLE titles (\n    tconst TEXT PRIMARY KEY,\n    titleType TEXT NOT NULL,\n    primaryTitle TEXT DEFAULT 'Untitled',\n    originalTitle TEXT  ... (2 characters truncated) ... FAULT 'Untitled', \n    isAdult INTEGER,\n    startYear TEXT NOT NULL,\n    endYear TEXT, \n    runtimeMinutes INTEGER DEFAULT 0,\n    genres TEXT\n)"),
 ('index', 'sqlite_autoindex_titles_1', 'titles', 5, None),
 ('table', 'principals', 'principals', 6, 'CREATE TABLE principals (\n    principalID INTEGER PRIMARY KEY,\n    tconst TEXT NOT NULL,\n    nconst TEXT NOT NULL,\n    ordering INTEGER,\n    cat ... (8 characters truncated) ... XT,\n    job TEXT,\n    characters TEXT,\n    FOREIGN KEY (nconst) REFERENCES names (nconst),\n    FOREIGN KEY (tconst) REFERENCES titles (tconst)\n)')]

In [11]:
%%sql
SELECT * FROM titles LIMIT 10;

 * sqlite:///IMDB_Mirror.db
(sqlite3.OperationalError) no such table: titles
[SQL: SELECT * FROM titles LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
SELECT * FROM names LIMIT 10;

In [ ]:
%%sql
SELECT * FROM principals LIMIT 10;

## **3. Now for the fun part.**

Write `SELECT` queries to answer the questions below. 

> **Note: Colab will delete your files, including your database, after 12 hours of inactivity. If your session resets then you will need to *rerun* all the above cells to recreate the database.**

### **In what movies did Eli Wallach appear? TV does not count. (three tables, two joins)**##

### **How long (in years) was Eli Wallach's career, from his first film to his last?**

### **Who were Eli Wallach's costars (note: actors only) in movies released in 1996? (two tables, three joins)**

### **How many total co-stars did Eli Wallach have over his career?**

### **Which artists were both actors and directors in movies released in 1996? (That's actor and director in the same movie.)**

### **How many artists were there in the above query?**

### **Who has the record for appearing in the most different movies in one year?**

### **Movie titles are not unique. Which move title has been reused the most times over the years? (Exclude "Untitled" or similar non-titles. Also be sure to only include movie titles.)**

### **Come up with your own query and post it on Slack. The student with the most interesting query -- as voted in class -- gets a perfect score on the next quiz.**

---
## **On your way out ... Be sure to save your work**.
Save this notebook and turn it in on Google Classroom. 
In Google Drive, drag this notebook file into your `DATA6510` folder so you can find it next time.