<a href="https://colab.research.google.com/github/christopherhuntley/DATA6510/blob/master/HW4_IMDB_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/christopherhuntley/BUAN6510/blob/master/img/Dolan.png?raw=true" width="180px" align="right">

# **DATA 6510**
# **Homework 4: IMDB Refresh** 
_Fun with Movie Listings._

**What follows provides a direct download of the IMDB_Mirror.db database needed to complete HW4.**

**Complete this version of the assignment and submit your answers in Google Classroom.**

## **1. Explore the data source.** 

**As you are exploring draw an ERD to represent the design of the database.** (No, there is not need to submit it. You can even use crayon if you like. We'll figure out if it's right below.)

**It may help to refer to this ...**

```sql
DROP TABLE IF EXISTS names;
CREATE TABLE names (
    nconst TEXT PRIMARY KEY,
    primaryName TEXT DEFAULT 'No Name Given',
    birthYear TEXT,
    deathYear TEXT,
    primaryProfession TEXT,
    knownForTitles TEXT
);
DROP TABLE IF EXISTS titles;
CREATE TABLE titles (
    tconst TEXT PRIMARY KEY,
    titleType TEXT NOT NULL,
    primaryTitle TEXT DEFAULT 'Untitled',
    originalTitle TEXT DEFAULT 'Untitled', 
    isAdult INTEGER,
    startYear TEXT NOT NULL,
    endYear TEXT, 
    runtimeMinutes INTEGER DEFAULT 0,
    genres TEXT
);
DROP TABLE IF EXISTS principals;
CREATE TABLE principals (
    principalID INTEGER PRIMARY KEY,
    tconst TEXT NOT NULL,
    nconst TEXT NOT NULL,
    ordering INTEGER,
    category TEXT,
    job TEXT,
    characters TEXT,
    FOREIGN KEY (nconst) REFERENCES names (nconst),
    FOREIGN KEY (tconst) REFERENCES titles (tconst)
);
```

## **2. (Skipped)**

## **3. Refresh Database and Test database connection**

Run the cells below before moving on to part 4.

In [ ]:
# lock down the package versions due to SQLAlchemy 2.0 compatibility bug
!pip install SQLAlchemy==1.4.46
!pip install PyMySQL==1.0.2 # or whichever
!pip install ipython-sql==0.4.1

!pip3 install --upgrade gdown
!gdown https://drive.google.com/uc?id=1MPTKr9xQJc00zyyhT9kbKJ2vXD2vwPx4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 9.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from SQLAlchemy==1.4.46) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.0
    Uninstalling SQLAlchemy-2.0.0:
      Successfully uninstalled SQLAlchemy-2.0.0
Successfully installed SQLAlchemy-1.4.46
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMySQL==1.0.2
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.5 MB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (1.15.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (7.9.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.8/dist-packages (from ipython-sql==0.4.1) (1.4.46)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.0 MB/s eta 0:00:00
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (57.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=264e11d38db5413535885ff3a8c4e7b2df2e21c3844d62157e12c1528deb5405
  Stored in directory: /root/.cache/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.6.0
    Uninstalling prettytable-3.6.0:
      Successfully uninstalled prettytable-3.6.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.3.9
    Uninstalling ipython-sql-0.3.9:
      Successfully uninstalled ipython-sql-0.3.9
Successfully installed ipython-sql-0.4.1 jedi-0.18.2 prettytable-0.7.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.4.0)
Collecting gdown
  Downloading gdown-4.6.0-py3-none-any.whl (14 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.4.0
    Uninstalling gdown-4.4.0:
      Successfully uninstalled gdown-4.4.0
Successfully installed gdown-4.6.0
Downloading...
From: https://drive.google.com/uc?id=1MPTKr9xQJc00zyyhT9kbKJ2vXD2vwPx4
To: /content/IMDB_Mirror.db
100% 441M/441M [00:03<00:00, 131MB/s]

In [ ]:
%load_ext sql
%sql sqlite:///IMDB_Mirror.db

In [ ]:
%%sql
SELECT * FROM titles LIMIT 10;

 * sqlite:///IMDB_Mirror.db
Done.

[('tt0000009', 'movie', 'Miss Jerry', 'Miss Jerry', 0, '1894', '\\N', 45, 'Romance'),
 ('tt0000502', 'movie', 'Bohemios', 'Bohemios', 0, '1905', '\\N', 100, '\\N'),
 ('tt0000574', 'movie', 'The Story of the Kelly Gang', 'The Story of the Kelly Gang', 0, '1906', '\\N', 70, 'Action,Adventure,Biography'),
 ('tt0000591', 'movie', 'The Prodigal Son', "L'enfant prodigue", 0, '1907', '\\N', 90, 'Drama'),
 ('tt0000615', 'movie', 'Robbery Under Arms', 'Robbery Under Arms', 0, '1907', '\\N', '\\N', 'Drama'),
 ('tt0000630', 'movie', 'Hamlet', 'Amleto', 0, '1908', '\\N', '\\N', 'Drama'),
 ('tt0000675', 'movie', 'Don Quijote', 'Don Quijote', 0, '1908', '\\N', '\\N', 'Drama'),
 ('tt0000679', 'movie', 'The Fairylogue and Radio-Plays', 'The Fairylogue and Radio-Plays', 0, '1908', '\\N', 120, 'Adventure,Fantasy'),
 ('tt0000793', 'movie', 'Andreas Hofer', 'Andreas Hofer', 0, '1909', '\\N', '\\N', 'Drama'),
 ('tt0000814', 'movie', 'La bocana de Mar Chica', 'La bocana de Mar Chica', 0, '1909', '\\N', '\\N', '\\N')]

In [ ]:
%%sql
SELECT * FROM names LIMIT 10;

 * sqlite:///IMDB_Mirror.db
Done.

[('nm0000001', 'Fred Astaire', '1899', '1987', 'soundtrack,actor,miscellaneous', 'tt0053137,tt0031983,tt0050419,tt0072308'),
 ('nm0000002', 'Lauren Bacall', '1924', '2014', 'actress,soundtrack', 'tt0037382,tt0038355,tt0117057,tt0071877'),
 ('nm0000003', 'Brigitte Bardot', '1934', '\\N', 'actress,soundtrack,music_department', 'tt0057345,tt0056404,tt0049189,tt0054452'),
 ('nm0000004', 'John Belushi', '1949', '1982', 'actor,soundtrack,writer', 'tt0072562,tt0078723,tt0077975,tt0080455'),
 ('nm0000005', 'Ingmar Bergman', '1918', '2007', 'writer,director,actor', 'tt0083922,tt0050986,tt0060827,tt0069467'),
 ('nm0000006', 'Ingrid Bergman', '1915', '1982', 'actress,soundtrack,producer', 'tt0077711,tt0034583,tt0036855,tt0038109'),
 ('nm0000007', 'Humphrey Bogart', '1899', '1957', 'actor,soundtrack,producer', 'tt0042593,tt0037382,tt0034583,tt0043265'),
 ('nm0000008', 'Marlon Brando', '1924', '2004', 'actor,soundtrack,director', 'tt0047296,tt0068646,tt0078788,tt0070849'),
 ('nm0000009', 'Richard Burton', '1925', '1984', 'actor,soundtrack,producer', 'tt0061184,tt0057877,tt0087803,tt0059749'),
 ('nm0000010', 'James Cagney', '1899', '1986', 'actor,soundtrack,director', 'tt0029870,tt0031867,tt0035575,tt0042041')]

In [ ]:
%%sql
SELECT * FROM principals LIMIT 10;

 * sqlite:///IMDB_Mirror.db
Done.

[(25, 'tt0000009', 'nm0063086', 1, 'actress', '\\N', '["Miss Geraldine Holbrook (Miss Jerry)"]'),
 (26, 'tt0000009', 'nm0183823', 2, 'actor', '\\N', '["Mr. Hamilton"]'),
 (27, 'tt0000009', 'nm1309758', 3, 'actor', '\\N', '["Chauncey Depew - the Director of the New York Central Railroad"]'),
 (28, 'tt0000009', 'nm0085156', 4, 'director', '\\N', '\\N'),
 (851, 'tt0000502', 'nm0215752', 1, 'actor', '\\N', '\\N'),
 (852, 'tt0000502', 'nm0252720', 2, 'actor', '\\N', '\\N'),
 (853, 'tt0000502', 'nm0063413', 3, 'director', '\\N', '\\N'),
 (854, 'tt0000502', 'nm0657268', 4, 'writer', '\\N', '\\N'),
 (855, 'tt0000502', 'nm0675388', 5, 'writer', '\\N', '\\N'),
 (1043, 'tt0000574', 'nm0675239', 10, 'cinematographer', 'director of photography', '\\N')]

## **4. Now for the fun part.**

Write `SELECT` queries to answer the questions below. 

> **Note: Colab will delete your files, including your database, after 12 hours of inactivity. If your session resets then you will need to *rerun* all the cells in part 3 to recreate the database.**

### **In what movies did Eli Wallach appear? TV does not count. (three tables, two joins)**##

In [ ]:
%%sql
SELECT titles.primaryTitle, startYear
FROM titles  
  JOIN principals USING (tconst)
  JOIN names USING (nconst)
WHERE primaryName = 'Eli Wallach' AND titleType = 'movie'
ORDER BY startYear;

 * sqlite:///IMDB_Mirror.db
Done.

[('Baby Doll', '1956'),
 ('The Lineup', '1958'),
 ('The Magnificent Seven', '1960'),
 ('Seven Thieves', '1960'),
 ('The Moon-Spinners', '1964'),
 ('Genghis Khan', '1965'),
 ('Lord Jim', '1965'),
 ('The Good, the Bad and the Ugly', '1966'),
 ('How to Steal a Million', '1966'),
 ('The Tiger Makes Out', '1967'),
 ('How to Save a Marriage and Ruin Your Life', '1968'),
 ('A Lovely Way to Die', '1968'),
 ('Ace High', '1968'),
 ('The Brain', '1969'),
 ('The Adventures of Gerard', '1970'),
 ('The People Next Door', '1970'),
 ('Zig Zag', '1970'),
 ('Long Live ... Your Death!', '1971'),
 ('Romance of a Horsethief', '1971'),
 ('Cinderella Liberty', '1973'),
 ('Stateline Motel', '1973'),
 ("L'chaim: To Life", '1974'),
 ('The White, the Yellow, and the Black', '1975'),
 ('Eye of the Cat', '1975'),
 ('The Dream Factory', '1975'),
 ('Girlfriends', '1978'),
 ('Movie Movie', '1978'),
 ('Firepower', '1979'),
 ('Winter Kills', '1979'),
 ('The Hunter', '1980'),
 ('Guri', '1980'),
 ("Sam's Son", '1984'),
 ('Spark Among the Ashes: A Bar Mitzvah in Poland', '1986'),
 ('Terezín Diary', '1990'),
 ('Honey Sweet Love...', '1994'),
 ("Elia Kazan: A Director's Journey", '1995'),
 ('The Associate', '1996'),
 ('Jones Beach: An American Riviera', '1999'),
 ('The Root', '2003'),
 ('Slapstick, Too!', '2004'),
 ('Life Is a Dream in Cinema: Pola Negri', '2006'),
 ('Por un puñado de sueños', '2006'),
 ("Constantine's Sword", '2007'),
 ('Vote and Die: Liszt for President', '2008'),
 ('The Needs of Kim Stanley', '\\N'),
 ('What Ever Happened to Norma Jeane?', '\\N'),
 ('Method or Madness?', '\\N')]

### **How long (in years) was Eli Wallach's career, from his first film to his last?**

In [ ]:
%%sql
SELECT max(startYear) as last_yr, min(startYear) as first_yr, last_yr - first_yr AS career_span
FROM titles  
  JOIN principals USING (tconst)
  JOIN names USING (nconst)
WHERE primaryName = 'Eli Wallach' AND titleType = 'movie' AND startYear <> '\N'

 * sqlite:///IMDB_Mirror.db
(sqlite3.OperationalError) no such column: last_yr
[SQL: SELECT max(startYear) as last_yr, min(startYear) as first_yr, last_yr - first_yr AS career_span
FROM titles
  JOIN principals USING (tconst)
  JOIN names USING (nconst)
WHERE primaryName = 'Eli Wallach' AND titleType = 'movie' AND startYear <> '\N']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
WITH 
  first_last AS (
    SELECT  min(cast(startYear AS integer)) AS first_yr, 
            max(cast(startYear AS integer)) AS last_yr
    FROM titles  
        JOIN principals USING (tconst)
        JOIN names USING (nconst)
    WHERE primaryName = 'Eli Wallach' AND titleType = 'movie' AND startYear <> '\N'
  )
SELECT last_yr - first_yr AS career_span
FROM first_last;

 * sqlite:///IMDB_Mirror.db
Done.

[(52,)]

In [ ]:
%%sql
SELECT last_yr - first_yr AS career_span
FROM (SELECT  min(cast(startYear AS integer)) AS first_yr, 
            max(cast(startYear AS integer)) AS last_yr
    FROM titles  
        JOIN principals USING (tconst)
        JOIN names USING (nconst)
    WHERE primaryName = 'Eli Wallach' AND titleType = 'movie' AND startYear <> '\N')

 * sqlite:///IMDB_Mirror.db
Done.

[(52,)]

### **Who were Eli Wallach's costars (note: actors only) in movies released in 1996? (three tables, four joins)**

In [ ]:
%%sql
SELECT n2.primaryName, p2.characters, t.primaryTitle, p2.category
FROM names as n1 
  JOIN principals as p1 USING (nconst) 
  JOIN titles as t USING (tconst)
  JOIN principals as p2 USING (tconst) 
  JOIN names as n2 ON (n2.nconst = p2.nconst)
WHERE n1.primaryName='Eli Wallach' AND 
      n2.primaryName<>'Eli Wallach' AND 
      t.startYear = 1996 AND
      p2.category in ("actor","actress")

 * sqlite:///IMDB_Mirror.db
Done.

[('Whoopi Goldberg', '["Laurel"]', 'The Associate', 'actress'),
 ('Dianne Wiest', '["Sally"]', 'The Associate', 'actress'),
 ('Tim Daly', '["Frank"]', 'The Associate', 'actor')]

In [ ]:
%%sql
WITH
  titles_1996 AS (
      SELECT * 
      FROM titles
      WHERE startYear = '1996'
  )
SELECT n2.primaryName, p2.characters, t.primaryTitle
FROM names as n1 
  JOIN principals as p1 USING (nconst) 
  JOIN principals as p2 USING (tconst) 
  JOIN titles_1996 as t USING (tconst)
  JOIN names as n2 ON (n2.nconst = p2.nconst)
WHERE n1.primaryName='Eli Wallach' AND 
      n2.primaryName<>'Eli Wallach'AND  
      p2.category in ("actor","actress");

 * sqlite:///IMDB_Mirror.db
Done.

[]

In [ ]:
%%sql
WITH
  titles_1996 AS (
      SELECT * 
      FROM titles
      WHERE startYear = '1996'
  )
SELECT n2.primaryName, p2.characters, t.primaryTitle
FROM names as n1 
  JOIN principals as p1 USING (nconst) 
  JOIN titles_1996 as t USING (tconst)
  JOIN principals as p2 USING (tconst) 
  JOIN names as n2 ON (n2.nconst = p2.nconst)
WHERE n1.primaryName='Eli Wallach' AND 
      n2.primaryName<>'Eli Wallach'AND  
      p2.category in ("actor","actress");

 * sqlite:///IMDB_Mirror.db
Done.

[('Whoopi Goldberg', '["Laurel"]', 'The Associate'),
 ('Dianne Wiest', '["Sally"]', 'The Associate'),
 ('Tim Daly', '["Frank"]', 'The Associate')]

### **How many total co-stars did Eli Wallach have over his career?**

In [ ]:
%%sql
SELECT count(distinct n2.primaryName)
FROM names as n1 
  JOIN principals as p1 USING (nconst) 
  JOIN principals as p2 USING (tconst) 
  JOIN names as n2 ON (n2.nconst = p2.nconst)
WHERE n1.primaryName='Eli Wallach' AND 
      n2.primaryName<>'Eli Wallach' AND 
      p2.category in ("actor","actress");

 * sqlite:///IMDB_Mirror.db
Done.

[(100,)]

In [ ]:
%%sql
SELECT count(n2.primaryName)
FROM names as n1 
  JOIN principals as p1 USING (nconst) 
  JOIN principals as p2 USING (tconst) 
  JOIN names as n2 ON (n2.nconst = p2.nconst)
WHERE n1.primaryName='Eli Wallach' AND 
      n2.primaryName<>'Eli Wallach' AND 
      p2.category in ("actor","actress");

 * sqlite:///IMDB_Mirror.db
Done.

[(108,)]

### **Which artists were both actors and directors in movies released in 1996? (That's actor and director in the same movie.)**

In [ ]:
%%sql
SELECT n1.primaryName, p2.characters, t.primaryTitle, p1.category, p2.category
FROM names as n1 
  JOIN principals as p1 USING (nconst) 
  JOIN principals as p2 USING (tconst,nconst) 
  JOIN titles as t USING (tconst)
WHERE
      t.startYear = 1996 AND
      p1.category <> p2.category AND
      p2.category in ("actor","actress")

 * sqlite:///IMDB_Mirror.db
Done.

[]

### **How many artists were there in the above query?**

None, because the `principals` table uses (tconst, nconst) like a composite key. That means nobody can be listed for two different categories for the same movie. However, consider this film from 1996 (linked and queried below). Notice anything? 

https://www.imdb.com/title/tt0117057/

In [ ]:
%%sql
SELECT n1.primaryName, t.primaryTitle, t.startYear, p1.category, p1.job, p1.characters
FROM names as n1 
  JOIN principals as p1 USING (nconst)  
  JOIN titles as t USING (tconst)
WHERE
  t.primaryTitle = 'The Mirror Has Two Faces'

 * sqlite:///IMDB_Mirror.db
Done.

[('Arnon Milchan', 'The Mirror Has Two Faces', '1996', 'producer', 'producer', '\\N'),
 ('Barbra Streisand', 'The Mirror Has Two Faces', '1996', 'actress', '\\N', '["Rose Morgan"]'),
 ('Jeff Bridges', 'The Mirror Has Two Faces', '1996', 'actor', '\\N', '["Gregory Larkin"]'),
 ('Lauren Bacall', 'The Mirror Has Two Faces', '1996', 'actress', '\\N', '["Hannah Morgan"]'),
 ('George Segal', 'The Mirror Has Two Faces', '1996', 'actor', '\\N', '["Henry Fine"]'),
 ('André Cayatte', 'The Mirror Has Two Faces', '1996', 'writer', 'screenplay "Le Miroir a Deux Faces"', '\\N'),
 ('Gérard Oury', 'The Mirror Has Two Faces', '1996', 'writer', 'screenplay "Le Miroir a Deux Faces"', '\\N'),
 ('Richard LaGravenese', 'The Mirror Has Two Faces', '1996', 'writer', 'screen story', '\\N'),
 ('Jean Meckert', 'The Mirror Has Two Faces', '1996', 'writer', 'motion picture dialogue Le Miroir a Deux Faces', '\\N'),
 ('Denis Perret', 'The Mirror Has Two Faces', '1996', 'writer', 'motion picture dialogue Le Miroir a Deux Faces', '\\N')]

In order to get a list of directors we'd need to download *yet another* dataset for `crew`. (See https://www.imdb.com/interfaces/.)

Eh. Sometimes directors listed in the `principals` table? But only *sometimes*? That has a bad design smell.  Maybe we can do better ourselves.

### **Who has the record for appearing in the most different movies in one year?**

In [ ]:
%%sql
SELECT primaryName, startYear, count(distinct principalID) AS credit_count
FROM names as n1 
  JOIN principals as p1 USING (nconst)  
  JOIN titles as t USING (tconst)
WHERE p1.category in ('actor','actress') AND t.startYear <> '\N'
GROUP BY t.startYear, n1.nconst, n1.primaryName
ORDER BY credit_count DESC
LIMIT 10;

 * sqlite:///IMDB_Mirror.db
Done.

[('Matsunosuke Onoe', '1918', 91),
 ('Matsunosuke Onoe', '1917', 79),
 ('Matsunosuke Onoe', '1919', 68),
 ('Tom Byron', '1990', 63),
 ('Kijaku Ôtani', '1917', 61),
 ('Kitsuraku Arashi', '1917', 61),
 ('Matsunosuke Onoe', '1920', 58),
 ('Kijaku Ôtani', '1918', 57),
 ('Suminojo Ichikawa', '1918', 56),
 ('Brahmanandam', '1993', 56)]

### **Movie titles are not unique. Which move title has been reused the most times over the years? (Exclude "Untitled" or similar non-titles. Also be sure to only include movie titles.)**

In [ ]:
%%sql
SELECT primaryTitle, count(*) AS title_count
FROM titles
WHERE primaryTitle <> 'Untitled' AND titleType = 'movie'
GROUP BY primaryTitle
ORDER BY title_count DESC
LIMIT 10;

 * sqlite:///IMDB_Mirror.db
Done.

[('Home', 53),
 ('Broken', 52),
 ('Mother', 49),
 ('Alone', 48),
 ('Hamlet', 46),
 ('Paradise', 43),
 ('Homecoming', 42),
 ('Trapped', 42),
 ('The Return', 41),
 ('Brothers', 40)]

### **Come up with your own query and post it on Slack. The student with the most interesting query -- as voted in class -- gets a perfect score on the next quiz.**

---
## **On your way out ... Be sure to save your work**.
Save this notebook and turn it in on Google Classroom. 
In Google Drive, drag this notebook file into your `DATA6510` folder so you can find it next time.